.AboutUs {
    display: flex;
    flex-direction: column;     
    align-items: center;        
    max-width: 800px;           
    margin: 0 auto;            
    padding: 20px;
  }
  
  .AboutUs p {
    font-size: 18px;
    color: #555;
    max-width: 600px;           
    margin-bottom: 1em;         
    line-height: 1.6;          
  }
  
  .AboutUs img {
    border-radius: 10%;
    margin-top: 20px;
    width: 300px;
    height: 300px;
    margin-bottom: 20px;        
  }
  